.tijger1{
    display: block;
    margin-left: auto;
    margin-right: 1000px;
    width: 20%;
    

}

.h11{
    margin-top: -175px;
    margin-left: 550px;

}

.p1{
    text-align: justify;
    margin-left: 525px;
    
}