body {
    display: flex;
    flex-wrap: wrap;
}

.color {
    flex-basis: calc(100% / 3);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 25px;
}
  
.color1 {
    background-color: yellow;
}
  
.color2 {
    background-color: red;
}
  
.color3 {
    background-color: blue;
}
  
.color4 {
    background-color: green;
}
  
.color5 {
    background-color: white;
}
  
.color6 {
    background-color: purple;
}
  
.color7 {
    background-color: grey;
}
  
.color8 {
    background-color: pink;
}
  
.color9 {
    background-color: orange;
}