.heading{
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

.h2{
    color: red;
    font-family: 'Courier New', Courier, monospace;
}

.p{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.h21{
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

.h4{
    color: green;
    font-family: 'Courier New', Courier, monospace;
}

.tijger{
    border-radius: 30px;
}

.h11{
    color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;

}