

.fortnite{
    height: 200px;
    width: 200px;


}

.assassinscreed{
    height: 200px;
    width: 200px;
    left: 400;

}

.mirage{
    height: 200px;
    width: 200px;
    left: 800px;

}
