.kersten{
         height: 300px;
         width: 300px;  
         border: 10px;
         padding: 125px;
         image-rendering: pixelated;
         box-sizing: border-box;
}

.kersthuizen{
    height: 300px;
    width: 300px;
    border: 10px;
    padding: 125px;
    box-sizing: content-box;
     
}
